;; shadow-cljs configuration
{:source-paths ["src/", "test/"]
 :dependencies []
 :builds
 {
    :dev 
    {
        :target :node-library
        :exports {:main kioss/main}
        :output-to "./target/dev/main.js"
        :build-hooks [(utils.hooks/configure-hook)
                      (utils.hooks/compile-prepare-hook)
                      (utils.hooks/flush-hook)]
    }
    :kioss 
    {
        :target :node-library
        :exports {:loop kioss/main}
        :output-to "target/main.js"
        :externs ["./externs/screeps.externs.js"]
        :compiler-options {:optimizations :advanced 
                           :source-map true}}}}
